{{ template "header.gohtml" .}}

<h1>About</h1>

<p>This is a web application intended to supplement the data provided by projects like <a href="https://steamdb.info/">https://steamdb.info/</a> and <a href="https://howlongtobeat.com/">https://howlongtobeat.com/</a>. It is primarily focused around Steam Achievements, but may grow to support other types of Achievements in the future.</p>

<h2>Attributions</h2>

<p>Originally inspired by <a href="https://howlongtobeat.com/">https://howlongtobeat.com/</a>.</p>

<p>The frontend frameworks in use are:</p>

<ul>
    <li>Bootstrap: <a href="https://getbootstrap.com">https://getbootstrap.com</a></li>
    <li>HTMX: <a href="https://htmx.org">https://htmx.org</a></li>
</ul>

<p>View the source at <a href="https://github.com/taiidani/achievements">https://github.com/taiidani/achievements</a>.</p>

<h2>Frequently Asked Questions</h2>

<h3>What do I enter for the Steam User ID?</h3>

<p>Steam User IDs are a numerical ID associated with your <a href="https://store.steampowered.com/account/">user account</a>. We use this to look up information about your account such as which achievements you have completed. We also support specifying your <a href="https://steamcommunity.com/id/taiidani/edit/info">Vanity URL</a> (or "Custom URL") from your profile.</p>

<p>Only public profiles will be able to pull personal information such as play times and achievement progress.</p>

<p>Examples of valid IDs:</p>

<ul>
    <li><code>76561197970932835</code></li>
    <li><code>taiidani</code></li>
</ul>

{{ template "footer.gohtml" .}}
