{{ template "header.gohtml" .}}

<h1>About</h1>

<p>This is a web application intended to supplement the data provided by projects like <a href="https://steamdb.info/">https://steamdb.info/</a> and <a href="https://howlongtobeat.com/">https://howlongtobeat.com/</a>. It is primarily focused around Steam Achievements, but may grow to support other types of Achievements in the future.</p>

<h1>Attributions</h1>

<p>Originally inspired by <a href="https://howlongtobeat.com/">https://howlongtobeat.com/</a>.</p>

<p>The frontend frameworks in use are:</p>

<ul>
    <li>Bootstrap: <a href="https://getbootstrap.com">https://getbootstrap.com</a></li>
    <li>HTMX: <a href="https://htmx.org">https://htmx.org</a></li>
</ul>

<p>View the source at <a href="https://github.com/taiidani/achievements">https://github.com/taiidani/achievements</a>.</p>

{{ template "footer.gohtml" .}}
