{{ if and .HasPinned .SessionUser }}
{{- $steamID := .SteamID }}
<h1>Pinned</h1>

<div class="pinned-grid">
    {{ range .Games }}
    {{ if .Pinned }}
    <article>
        <a href="//user/{{$steamID}}/game/{{.ID}}"><img src="https://shared.cloudflare.steamstatic.com/store_item_assets/steam/apps/{{.ID}}/header.jpg" alt="{{.DisplayName}} Logo" /></a>
        <div>
                    <span class="unpin" hx-trigger="click" hx-delete="/hx/user/{{$steamID}}/game/{{.ID}}/pin" hx-target="#pinned">❌</span>
                    <h4><a href="/user/{{$steamID}}/game/{{.ID}}">{{.DisplayName}}</a></h4>
        </div>
        <div hx-trigger="load" hx-get="/hx/user/{{$steamID}}/game/{{.ID}}/row">
            <img class="htmx-indicator" src="/assets/loading.svg" />
        </div>
    </article>
    {{ end }}
    {{ end }}
</div>
{{ end }}
