{{ if eq .Achievements.AchievementUnlockedPercentage 100 }}
🏆
{{ else }}
<progress title="{{ .Achievements.AchievementUnlockedCount }} / {{ .Achievements.AchievementTotalCount }}" value="{{ .Achievements.AchievementUnlockedCount }}" max="{{ .Achievements.AchievementTotalCount }}" />
{{end}}
